@import url("loaders.css");

.invoice-form-card {
	background-color: #555753;
	padding: 24px;
	border-radius: 4px;
}

.row {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}

.row > * {
	margin-top: 12px;
}

.col {
	display: flex;
	flex-flow: wrap;
}

.nav_status {
	margin-right: 24px;
}

.Wizard_nav {
	float: right;
	display: flex;
	flex-flow: row;
}

.Wizard_nav > * {
	margin-left: 4px;
}

button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.loading_area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading_area > * {
	margin-right: 12px;
}

.modal_btn {
	float: right;
	margin-bottom: 12px;
}

/*
Code based on https://github.com/stripe-samples/accept-a-card-payment/blob/master/without-webhooks/server/php/public/css/global.css
MIT Licensed
*/
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  padding: 48px;
  align-content: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
}
.sr-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-self: center;
  padding: 75px 50px;
  background: var(--body-color);
  width: var(--form-width);
  border-radius: var(--radius);
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
  0px 2px 5px 0px rgba(50, 50, 93, 0.1),
  0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

.sr-field-error {
  color: var(--font-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

/* Inputs */
.sr-input,
.sr-input > input[type="text"] {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.sr-input:focus,
.sr-input > input[type="text"]:focus,
.sr-input > button:focus,
.focused {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}
.sr-input::placeholder {
  color: var(--gray-light);
}
.sr-result {
  height: 44px;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  color: var(--font-color);
  overflow: auto;
}
.sr-result code {
  overflow: scroll;
}
.sr-result.expand {
  height: 350px;
}

.sr-combo-inputs-row {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}

/* Buttons and links */
.sr-root > button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
.sr-root > button:hover {
  filter: contrast(115%);
}
.sr-root > button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
.sr-root > button:disabled {
  opacity: 0.5;
  cursor: none;
}

/* Stripe Element placeholder */
.sr-card-element {
  padding-top: 12px;
}

/* End Stripe Styling */

/* auto hide the AWS Polly area. */
#polly_tts_area {
	display: none;
}

/* style view client table */

#client_table {
	border: 1px black solid;
	padding: 24px;
	width: 100%;.
	height: 100%;
}

#client_table th {
	margin: 24px;
	padding: 12px;
	border-bottom: 1px black solid;
}

#client_table td {
	padding: 24px;
	border-bottom: 1px black solid;
}

/* style view companines table */

#companines_table {
	border: 1px black solid;
	padding: 24px;
	width: 100%;
	height: 100%;
}

#companines_table th {
	margin: 24px;
	padding: 12px;
	border-bottom: 1px black solid;
}

#companines_table td {
	padding: 24px;
	border-bottom: 1px black solid;
}

/* style view advertiser table */

#advertiser_table {
	margin-top: 12px;
	border: 1px black solid;
	padding: 24px;
	width: 100%;
	height: 100%;
}

#advertiser_table th {
	margin: 24px;
	padding: 12px;
	border-bottom: 1px black solid;
}

#advertiser_table td {
	padding: 24px;
	border-bottom: 1px black solid;
}

/* Style standard module tables */

.ad_system_table {
	margin-top: 12px;
	border: 1px black solid;
	padding: 24px;
	width: 100%;
	height: 100%;
}

.ad_system_table th {
	margin: 24px;
	padding: 12px;
	border-bottom: 1px black solid;
}

.ad_system_table td {
	padding: 24px;
	border-bottom: 1px black solid;
}

#tts_vol_area {
	display: none;
}

/* Display text with a scroll. */

.scrolled_text {
	background-color: #fff;
	color: #000;
	padding: 24px;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}