* {
  font-family: Arial, Helvetica, sans-serif;
}

.invoice {
  border: 2px solid black;
  display: grid;
}

.invoice-title {
  text-align: center;
}

.top-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr;
}

.bottom-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.station-logo {
  width: 200px;
  align-self: center;
  justify-self: center;
}

.col {
  display: flex;
}

.col > * {
  margin: 2px;
}

.row {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 6px;
}

.item > * {
  margin: 2px;
}

.item > pre {
  margin: 0;
  padding: 0;
}

.item label {
  font-weight: bold;
}

.top-right {
  grid-row: 2;
  grid-column: 3;
  margin-right: 12px;
}

#bill_to_text {
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-all;
}

table {
  border: 2px solid black;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

table tr, td {
  border: 2px solid black;
}
